[init]
    defaultBranch = main
[user]
    name = Shea Williams
    email = sheapwilliams@gmail.com
[merge]
    tool = vimdiff

# Cargo uses the wrong url for ssh auth to github - fix it here
[url "ssh://git@github.com"]
    insteadOf = ssh://github.com
